* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}


/* top section */

.top-section {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    padding: 0 200px;
}

.header {
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.logo img {
    width: 100px;
}

.hero h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.links,
.logo {
    flex: 0 1 50%;
    display: flex;
}

.hero p,
.links a {
    font-size: 18px;
    color: #e5e7eb;
}

.links a {
    text-decoration: none;
}

.links ul {
    width: 100%;
    list-style: none;
    display: flex;
}

.links li {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 80px;
    padding: 20px 0 80px 0;
}

.hero img {
    width: 100%;
}

.hero-left {
    flex: 0 1 50%;
}

.hero-right {
    flex: 0 1 50%;
}

.hero-btn {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 5px 20px;
    border-radius: 6px;
    margin-top: 10px;
    border-color: #3882f6;
}


/* services section */

.services-section {
    padding: 40px 200px 80px 200px;
    display: flex;
    flex-direction: column;
}

.services-section h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.cards {
    display: flex;
}

.card {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
}

.card img {
    max-width: 100%;
    width: 100px;
    display: flex;
    margin: auto;
}

.card p {
    text-align: center;
    padding: 10px 50px;
}


/* quote section */

.quote-section {
    background-color: #e5e7eb;
    display: flex;
    align-items: center;
    padding: 40px 250px 80px 250px;
    display: flex;
    flex-direction: column;
    padding-top: 120px;
}

.quote-text {
    font-size: 36px;
    font-weight: 100;
    color: #1f2937;
    font-style: italic;
}

.quote-author {
    font-size: 16px;
    font-weight: 900;
    align-self: flex-end;
}


/* CTA Section */

.cta-section {
    padding: 80px 250px 80px 250px;
    display: flex;
    justify-content: center;
}

.cta {
    background-color: #3882f6;
    display: flex;
    padding: 80px 100px;
    width: 100%;
    border-radius: 6px;
}

.cta-text {
    flex: 0 1 60%;
    color: #f9faf8;
}

.sign-up {
    flex: 0 1 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.cta-btn {
    padding: 5px 20px;
    border-radius: 6px;
    border: 1px solid #f9faf8;
    background-color: #3882f6;
    color: #f9faf8;
}

.footer {
    background-color: #1f2937;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
}