* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.top-section {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
}

.hero h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}